body{
    background-image: url(shrek.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color:indianred;
}
h1{
    text-align: center;
    color: whitesmoke;
}

h2{
    text-align: center;
    color: whitesmoke;
}

img{
    margin-left: 5cm;
    margin-top: 2.5cm;
}
